.banner {
  padding-left: 135px;
  position: relative;
  height: 700px;
}

.banner-left {
  width: 502px;
}

.banner-heading {
  font-size: 64px;
  font-weight: 800;
  // text-shadow: <offset-x> <offset-y> <blur-radius> <color>;
  text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
  &--black {
    color: #353945;
  }
  &--yellow {
    color: #f5b318;
  }
}

.banner-heading-icon {
  margin-left: 6px;
}

.banner-heading-icon svg {
  display: inline;
}

.banner-paragraph {
  color: #777e90;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 30px;
}

.banner-button {
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 317px;
  padding: 8px 8px 8px 44px;
  border-radius: 31px;
  justify-content: space-between;
  box-shadow: -16px 22px 42px rgba($color: #001f4d, $alpha: 0.12);
}

.banner-button-text {
  color: #23262f;
  font-size: 20px;
  font-weight: 700;
}

.banner-right {
  position: absolute;
  top: -100px;
  right: 0;
}
